{{map-display title="Map View" map=model}}
<div class="display-box">
  <div class="text-entry">
    {{input type="email" value=latitude class="form-control" placeholder="Please Enter Latitude." autofocus="autofocus"}}
    <br>
    {{input type="email" value=longitude class="form-control" placeholder="Please Enter Longitude."}}
    <br>
    <button class="btn btn-primary btn-lg btn-block" {{action 'updateMap'}}>Update Map</button>
  </div>
  {{#leaflet-map lat=lat lng=lng zoom=zoom}}
    {{tile-layer url="http://{s}.basemaps.cartocdn.com/dark_all/{z}/{x}/{y}.png"}}
  {{/leaflet-map}}
</div>
